

<h1>Relationship Story</h1>

<% @relationships.each do |relationship| %>
  <div class="card bg-light mb-3" style="max-width: 50rem;">
    <div class="card-header"><%= relationship.id %></div>
    <div class="card-body">
      <h4 class="card-title"><%= relationship.sentence %></h4>
    </div>
  </div>
<% end %>

<br>

<%= link_to 'Home Page', '/', class: 'btn btn-secondary' %>
<br>
<%= link_to 'Learn more about Media Literacy', 'https://medialiteracynow.org/what-is-media-literacy/' %>
