<!-- <h1 class="intructions">Please enter your version of the following text:</h1> -->

<div class="center">
<div class="card bg-light mb-3" style="max-width: 50rem;">
  <div class="card-header">Please enter your version of the following text:</div>
  <div class="card-body">
    <h4 class="card-title vanish"><% if @relationship%>
      <%=@relationship.sentence%>
      <% else %>
      <%= @sentence[0].sentence %>
      <%end%></h4>
  </div>
</div>



<div class= "text-enter">
<form action="rel_new_iteration" method="post" id="new_iteration">
  <textarea class="text-input-stuff form-control" name="text" form="new_iteration" placeholder="Entry"></textarea>
  <input class='btn btn-secondary' type="submit" value="Submit"/>
</form>
</div>

<%= link_to 'End Game', '/relationship/all', class: 'btn btn-secondary' %>
