
<h1>Number Story</h1>

<% @numbers.each do |number| %>
  <div class="card bg-light mb-3" style="max-width: 50rem;">
    <div class="card-header"><%= number.id %></div>
    <div class="card-body">
      <h4 class="card-title"><%= number.sentence %></h4>
    </div>
  </div>
<% end %>

<br>

<%= link_to 'Home Page', '/', class: 'btn btn-secondary' %>
<br>
<%= link_to 'Learn more about Media Literacy', 'https://medialiteracynow.org/what-is-media-literacy/' %>
